html {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cube {
  width: 200px;
  height: 200px;
  perspective: 300px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 10px;
  backface-visibility: hidden;
}
.cube div {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  background: transparent;
  transform: rotate3d(0deg, 70deg, 0deg);
  animation-duration: 0.5;
}
.front {
  transform: rotateY(0deg) translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
